@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    /* border: solid 1px black; */
    /* padding: 10px; */
    list-style: none;
    margin: 0;
    border-radius: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    width: 90px;
    border: solid rgb(114, 114, 114) 1px;
    box-shadow: 0px 0px 5px black;
    background-color: #fffb00c2;
    font-weight: 400;
}

.icon {
    width: 24px;
}

/* .truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */

.page {
    display: grid;
    height: 95vh;
    width: 95vw;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "sidemenu header header"
    "sidemenu analytics feed"

}

/* Header */

.header {
    grid-area: header;
    /* border: solid 1px red; */
    box-shadow: 0px 0px 5px black;
    border-radius: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "search account"
    "welcome functions"
      
}

.avatar {
    width: 50px;
}

.header > * {
    align-items: center;
    /* justify-content: center; */
    /* border: solid 1px green; */
}

.header > * > * {
    align-items: center;
    /* border: solid 1px blue; */
    margin: 15px;
}

.message > * {
    margin: 5px;
}

.message > h2 {
    font-size: 18px;
}

.search {
    grid-area: search;
    display: flex;

}

.search .icon {
    margin-left: 50px;
}

#searchbar {
    border: solid grey 2px;
    border-radius: 10px;
    /* flex-grow: 1; */
    min-width: 70%;
    margin-left: 0;
}

.account {
    grid-area: account;
    display: flex;
    justify-content: center;
}

.welcome{
    grid-area: welcome;
    display: flex;
}

.functions {
    grid-area: functions;
    display: flex;
    justify-content: center;
}



/* Sidebar */

.sidebar {
    grid-area: sidemenu;
    /* border: solid 1px grey; */
    /* box-shadow: 1px 0px 10px 2px rgb(114, 114, 114); */
    border-radius: 0;
    min-width: 200px;
    background-color: #fffb00c2;

}

.sidebar > * > ul {
    padding: 10px;
}

.sidebar-title {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    background-color: black;
    max-width: 30%;

}

.tab {
    display: flex;
}

.tab > * {
    padding: 5px;
}



/* Analytics */

.analytics {
    grid-area: analytics;
    /* box-shadow: inset; */
    border-radius: 0;
    /* border: solid 1px red; */
    padding: 20px;
    background-color: #dfdfdf5b;
}

.title {
    padding: 15px;
}

.tiles {
    resize: both;
    overflow: auto;
    display: grid;
    gap: 4px;
    padding: 4px;
    /* grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr; */
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    
}

.tile {
    min-width: 200px;
    min-height: 200px;
    /* max-width: 300px; */
    /* max-height: 300px; */
    /* border: solid 1px rgb(76, 0, 255); */
    text-align: center;
    padding: 10px 5px 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

/* Feed */

.feed {
    grid-area: feed;
    /* border-left: solid 1px rgb(56, 56, 56); */
    border-radius: 0;
    padding: 20px;
    background-color: #dfdfdf5b;    
}

.feed > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feed > * > ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
    max-width: 300px;

}

.feed > * > h3 {
    text-align: center;
    /* margin: 15px; */
}

.feed > * > ul > li {
    margin: 5px;
    background-color: white;


}

.feed-one > ul > li {
    min-width: 100px;
    min-height: 50px;
    
    /* border: solid 1px rgb(76, 0, 255); */
    text-align: center;
    padding: 10px 5px 10px 5px;
    flex-grow: 2;
}

.feed-two > ul > li {
    min-width: 200px;
    min-height: 25px;
    /* border: solid 1px rgb(76, 0, 255); */
    text-align: center;
    padding: 10px 5px 10px 5px;
}