* {
    /* border: solid 1px black; */
    /* padding: 10px; */
    list-style: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 10px;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.page {
    display: grid;
    height: 95vh;
    width: 95vw;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 2fr 9fr;
    grid-template-areas:
    "sidemenu header header"
    "sidemenu analytics feed"

}

/* Header */

.header {
    grid-area: header;
    border: solid 1px red;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "search account"
    "welcome functions"
      
}

.header > * {
    align-items: center;
    /* justify-content: center; */
    border: solid 1px green;
}

.header > * > * {
    align-items: center;
    border: solid 1px blue;
    margin: 15px;
}

.message > * {
    margin: 5px;
}

.message > h2 {
    font-size: 18px;
}

.search {
    grid-area: search;
    display: flex;
}

#searchbar {
    border: solid grey 2px;
    border-radius: 10px;
    flex-grow: 1;
}

.account {
    grid-area: account;
    display: flex;
    justify-content: center;
}

.welcome{
    grid-area: welcome;
    display: flex;
}

.functions {
    grid-area: functions;
    display: flex;
    justify-content: center;
}



/* Sidebar */

.sidebar {
    grid-area: sidemenu;
    border: solid 1px red;

}

/* Analytics */

.analytics {
    grid-area: analytics;
    border: solid 1px red;
}

.tiles {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 15px;
}

.tile {
    height: 50px;
    width: 50px;
}

/* Feed */

.feed {
    grid-area: feed;
    border: solid 1px red;

}

.feed-one > ul > li {
    width: 200px;
    height: 100px;
    border: solid 1px rgb(76, 0, 255);
    text-align: center;
    padding: 10px 5px 10px 5px;
}

.feed-two > ul > li {
    width: 200px;
    height: 50px;
    border: solid 1px rgb(76, 0, 255);
    text-align: center;
    padding: 10px 5px 10px 5px;
}